<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="basicData">
    <select id="selectCurrentDbTime" resultType="java.util.Date">
        select now();
    </select>

    <select id="loadCategory" resultType="wayne.wuzhushengxin.server.model.entity.CategoryEntity" parameterType="java.util.Date">
        select id, `name`,directory,prefix
        from t_category where status=1 and gmt_modify &gt;=#{current};
    </select>
    <select id="loadArticle" resultType="wayne.wuzhushengxin.server.model.entity.ArticleEntity" parameterType="java.util.Date">
        select id,title,brief,keywords,views,comments,category_id,gmt_create,gmt_modify
        from t_article where status=1 and gmt_modify &gt;=#{current};
    </select>


    <select id="unloadCategory" resultType="wayne.wuzhushengxin.server.model.entity.CategoryEntity" parameterType="java.util.Date">
        select id,
        from t_category where gmt_modify &gt;=#{current};
    </select>
    <select id="unloadArticle" resultType="wayne.wuzhushengxin.server.model.entity.ArticleEntity" parameterType="java.util.Date">
        select id
        from t_article where gmt_modify &gt;=#{current};
    </select>

    <select id="selectArticleCommentCount" resultType="int" parameterType="int">
        select count(0) from t_comment where status=1 and article_id=#{id};
    </select>
    <select id="selectArticleComment" resultType="wayne.wuzhushengxin.server.model.entity.CommentEntity" parameterType="int">
        select id,`name`,content,article_id,gmt_create from t_comment where status=1 and article_id=#{id} order by gmt_create desc;
    </select>
    
    <insert id="insertComment" parameterType="wayne.wuzhushengxin.server.model.entity.CommentEntity">
        insert into t_comment(`name`,content,article_id,status,gmt_create,gmt_modify)
        values(#{name,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{articleId,jdbcType=BIGINT},1,now(),now())
    </insert>

    <update id="updateArticleComments" parameterType="int">
        update t_article set comments = comments+1 where id=#{id}
    </update>
    <update id="updateArticleViews" parameterType="int">
        update t_article set views = #{views} where id=#{id};
    </update>

</mapper>