body {
    letter-spacing: 1px;
    color: #787878;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    font-weight: 700;
    color: #292929;
}
#home-sticky-wrapper, #menu-container-sticky-wrapper {
    height: 130px!important;
}
.clearfix{
    clear:both;
}
ol,ul {
    list-style: none;
}



.widget {
    margin-bottom: 50px;
    font-size: 14px;
}
.widget .search-form {
    padding: 10px 20px;
    border: 1px solid #E4E4E4;
    position: relative;
}
.widget .search-form input {
    border: none;
    color: #787878;
    width: 88%;
    position: relative;
    top: 1px;
    font-size: 13px;
    float: left;
    letter-spacing: 1px;
}
.widget .search-form button {
    float: right;
    width: 12%;
    border: none;
    background: 0 0;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    color: #787878;
    cursor: pointer;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 Glyphicons Halflings;
    font-size: inherit;
    text-rendering: auto;
}
.fa-search:before {
    content: "\e003";
}
