body {
    letter-spacing: 1px;
    color: #787878;
}
.article-body p{
    text-indent: 2em; //首行缩进2个字
}
*{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    font-weight: 700;
    color: #292929;
}
p {
    margin-bottom: 15px;
}
#menu-container-sticky-wrapper {
    height: 130px!important;
}
.clearfix{
    clear:both;
}
ol,ul {
    list-style: none;
}

#section-featured {
    position: relative;
    min-height: 50px;
}
#page {
    padding: 90px 0 20px;
}

.widget {
    margin-bottom: 50px;
    font-size: 14px;
}
.widget .search-form {
    padding: 10px 20px;
    border: 1px solid #E4E4E4;
    position: relative;
}
.widget .search-form input {
    border: none;
    color: #787878;
    width: 88%;
    position: relative;
    top: 1px;
    font-size: 13px;
    float: left;
    letter-spacing: 1px;
}
.widget .search-form button {
    float: right;
    width: 12%;
    border: none;
    background: 0 0;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    color: #787878;
    cursor: pointer;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 Glyphicons Halflings;
    font-size: inherit;
    text-rendering: auto;
}
.fa-search:before {
    content: "\e003";
}

#post-nav-2 {
    padding-top: 25px;
    border-top: 1px solid #e4e4e4;
    margin-bottom: 50px;
}
.push-left {
    float: left;
}
.push-right {
    text-align: right;
    float: right;
}

#comments #list-comments {
    margin-bottom: 50px;
}
#comments #list-comments li {
    position: relative;
    margin-bottom: 30px;
}
#comments #list-comments li .comment-body {
    background-color: #f1f0f0;
    margin-left: 15px;
    min-height: 90px;
    padding: 25px 30px;
}
#comments #list-comments li .vcard {
    margin-bottom: 15px;
}
#comments #list-comments li .commentmetadata {
    font-style: italic;
    font-size: 13px;
}
#comments #list-comments li .comment-body .fn {
    color: #292929;
    font-weight: 600;
}
/*#comments #list-comments li .comment-body span {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 25px;*/
    /*border-radius: 50%;*/
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
/*}*/
#comments #list-comments li .comment-body:before {
    content: "\e251";
    color: #f1f0f0;
    font-family: Glyphicons Halflings;
    position: absolute;
    top: 25px;
    left: 0px;
    z-index: 3;
    font-size: 20px;
}

#comments #commentform input {
    max-width: 280px;
    width: 100%;
}

#comments #commentform button {
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
#comments #commentform button, #comments #commentform input {
    display: block;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    color: #787878;
    background-color: #fff;
}
#comments #commentform textarea {
    display: block;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    color: #787878;
    background-color: #fff;
    width:750px;
    height:150px;
}



#foot-left p {
    margin-top: 10px;
}