<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc">
    <context:component-scan base-package="wayne.wuzhushengxin.server" />
    <mvc:default-servlet-handler />
    <!-- FreeMarker环境配置 -->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/templates/" />
        <property name="freemarkerSettings">
            <props>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="number_format">#</prop>
                <prop key="classic_compatible">true</prop>
                <prop key="url_escaping_charset">UTF-8</prop>
                <prop key="defaultEncoding">UTF-8</prop>
                <prop key="boolean_format">true,false</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="locale">zh_CN</prop>

            </props>
        </property>
        <!-- Spring MVC页面层FreeMarker的处理类 -->
        <property name="freemarkerVariables">
            <map>
                <entry key="base_addr" value="http://127.0.0.1:8080"></entry>
            </map>
        </property>
    </bean>
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="viewResolvers">
            <list>
                <bean
                        class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
                    <property name="viewClass"
                              value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />
                    <property name="contentType" value="text/html;charset=utf-8" />
                    <property name="exposeRequestAttributes" value="true" />
                    <property name="exposeSessionAttributes" value="true" />
                    <property name="exposeSpringMacroHelpers" value="true" />
                    <property name="requestContextAttribute" value="rc"></property>
                </bean>
            </list>
        </property>
    </bean>
</beans>